.App {
  text-align: center;
  overflow: scroll;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  overflow:none;
  height: 100vh;
  width: 100vw;
}





@media screen and (max-width: 600px){
.heading {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-areas: 
  "Title User";
  border: 1px solid black;
  height: 75px;
}

.title {
  grid-area: Title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.user {
  grid-area: User;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:black;
}

a:visited {
  color: black;
}

.quicklinks {
  border: 1px solid blue;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid green;
  overflow: scroll;
  height: 100%;
}

.home-links {
  border: 1px solid orange;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.top {
  position: sticky;
  width: 100%;
  top : 0;
  background-color: white;
}

#home-intro {
  margin-top: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-endpoints {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-topics {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-articles {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-comments {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-page {
  display:grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 8fr;
  grid-template-columns: 6fr 4fr;
  grid-template-areas:
  "topic-filter order-sort-reset"
  "add-article add-article"
  "articles-title articles-title"
  "articles articles";
  height: 100%;
}

.articles {
  grid-area: articles;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  overflow:scroll;
  padding-bottom: 20px;
  padding-top:20px;
}

.articles-title {
  grid-area: articles-title
}

.topic-filter {
  grid-area: topic-filter;
}

.order-sort-reset {
  grid-area: order-sort-reset;
}

.add-article {
  grid-area: add-article;
}

.single-article-page {
  display:grid;
    grid-template-rows: 0.75fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    ". back-to-articles ."
    ". single-article ."
    ". rate-it ."
    ". pop-up ."
    ". article-comments .";
    height: 100%;
}

.pop-up{
  grid-area: pop-up;
  display: block;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  animation-name: slide;
  animation-duration: 1.5s;;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}


.single-article {
  grid-area: single-article;
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  overflow: scroll;
  padding-top: 20px;
}

.article-comments {
  grid-area: article-comments;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rate-it {
  grid-area: rate-it;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rate-it button {
  height: 50%;
  background-color: red;
  padding: 5px;
}

.back-to-articles{
  grid-area: back-to-articles;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.article-comments-page {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 3.5fr 3.5fr 0.5fr;
  grid-template-areas:
  ". back-to-article ." 
  ". article-title ."
 
  ". single-article-comments ."
  
  ". article-add-comment ."
  ". single-article-user-response .";
  height: 100%;
}

.back-to-article {
  grid-area: back-to-article;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-title {
  grid-area: article-title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-article-comments {
  grid-area: single-article-comments;
  overflow: scroll;
  border: 1px solid blue;
  padding: 10px;
}

.article-comment {
  padding: 10px;
  border-bottom: 1px solid orange;;
}

.article-add-comment {
  grid-area: article-add-comment;
  border: 1px solid green;
  overflow: scroll;
  padding: 10px;
  
}

textarea {
  width: 80%;
}

.single-article-user-response{
  grid-area: single-article-user-response;
}

.topics-page {
  display:grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-areas: 
  ". topics-title ."
  ". topics-list .";
  height: 100%;

}

.topics-title {
  grid-area: topics-title;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topics-list {
  grid-area: topics-list;
  overflow: scroll;
}

ul{
  list-style:none;
}

.single-topic {
  padding: 50px;
  border: 1px solid red;
}

.topic-articles-page {
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 4fr 1fr;
  grid-template-areas:
  ". topic-articles-title ."
  ". back-to-topics ."
  ". topic-articles-list ."
  ". topic-article-share .";
  height: 100%;
}

.back-to-topics {
  grid-area: back-to-topics;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-articles-title {
  grid-area: topic-articles-title;
  margin-top: 10px;
  text-decoration: underline;
}

.topic-articles-list {
  grid-area: topic-articles-list;
  overflow: scroll;
  border: 1px solid red;
}

.single-topic-article {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid orange;
}

.topic-article-share {
  grid-area: topic-article-share;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}












@media screen and (min-width: 600px){
  .top {
    background-color: green;
  }

  .heading {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
    "Title User";
    border: 1px solid black;
    height: 75px;
  }
  
  .title {
    grid-area: Title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  
  .user {
    grid-area: User;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color:black;
  }
  
  a:visited {
    color: black;
  }
  
  .quicklinks {
    border: 1px solid blue;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid green;
    overflow: scroll;
    height: 100%;
  }
  
  .home-links {
    border: 1px solid orange;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
  }
  
  .top {
    position: sticky;
    width: 100%;
    top : 0;
    background-color: white;
  }
  
  #home-intro {
    margin-top: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #home-endpoints {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #home-topics {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #home-articles {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #home-comments {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .articles-page {
    display:grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 2.5fr 2.5fr 4fr;
    grid-template-areas:
    ". articles-title"
    "topic-filter articles"
    "order-sort-reset articles"
    "add-article articles";
    height: 100%;
  }
  .articles {
    grid-area: articles;
    border: 2px solid red;
    overflow: scroll;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .topic-filter {
    grid-area: topic-filter;
  }

  .order-sort-reset {
    grid-area: order-sort-reset;
  }

  .add-article {
    grid-area: add-article
  }

  .articles-title {
    grid-area: articles-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    border: 1px solid green;
  }

  .single-article-page {
    display:grid;
    grid-template-rows: 0.75fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    ". back-to-articles ."
    ". single-article ."
    ". rate-it ."
    ". pop-up ."
    ". article-comments .";
    height: 100%;
  }

  .single-article {
    grid-area: single-article;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid brown;
    padding-top: 25px;
    overflow: scroll;
  }

  .article-comments {
    grid-area: article-comments;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rate-it {
    grid-area: rate-it;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .rate-it button {
      height: 50%;
      background-color: red;
      padding: 5px;
  }

  .pop-up{
    grid-area: pop-up;
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
    animation-name: slide;
    animation-duration: 1.5s;;
  }

  @keyframes slide {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  .back-to-articles{
    grid-area: back-to-articles;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .article-comments-page {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 1.5fr 2.5fr 2fr 2fr 1fr;
    grid-template-areas: 
    ". back-to-article back-to-article ."
    ". article-title article-title ."
    ". single-article-comments single-article-user-response ."
    ". single-article-comments article-add-comment ."
    ". single-article-comments article-add-comment ."
    ". single-article-comments . ."
    ". . . .";
    height: 100%;
  }

  .back-to-article{
    grid-area: back-to-article;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .single-article-user-response{
    grid-area: single-article-user-response;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  .article-title {
    grid-area: article-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .single-article-comments {
    grid-area: single-article-comments;
    border: 1px solid blue;
    overflow: scroll;
    padding: 2px;
  }

  .article-comment {
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid orange;;
  }
  
  .article-add-comment {
    grid-area: article-add-comment;
    border: 1px solid green;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  textarea {
    width: 75%;
    height: 70%;
  }

  .topics-page {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    ". topics-title ."
    ". topics-list ."
    ". . .";
    height: 100%
  }

  .topics-title {
    grid-area: topics-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul{
    list-style:none;
  }

  .topic-coding{
    grid-area: topic-coding;
  }

  .topics-list {
    grid-area: topics-list;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 10px;
  }

  .single-topic {
    padding: 50px;
    border: 1px solid red;
  }

  .topic-articles-page {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 4fr 1fr;
    grid-template-areas:
    ". topic-articles-title ."
    ". back-to-topics ."
    ". topic-articles-list ."
    ". topic-article-share .";
    height: 100%;
  }

  .back-to-topics {
    grid-area: back-to-topics;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .topic-articles-title {
    grid-area: topic-articles-title;
    margin-top: 10px;
    text-decoration: underline;
  }
  
  .topic-articles-list {
    grid-area: topic-articles-list;
    overflow: scroll;
    border: 1px solid red;
  }
  
  .single-topic-article {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid orange;
  }

  .topic-article-share {
    grid-area: topic-article-share;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}




