.App {
  text-align: center;
  overflow: scroll;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif
}

* {
  margin: 0;
  padding: 0;
}

#root {
  overflow:none;
  height: 100vh;
  width: 100vw;
}





@media screen and (max-width: 599px){
.heading {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-areas: 
  "Title User";
  height: 75px;
  background-color: rgb(255, 255, 255)
}



h2 {
  color:midnightblue;
}

h3 {
  color: gold;
}



.text {
  color: white;
}

.text-blue {
  color: midnightblue;
}

.topic-heading {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

button {
  background-color: midnightblue;
  color: white;
  padding: 7px;
  border-radius: 25px 25px 0px 25px;
  border: 2px solid orange;
}

.title {
  grid-area: Title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.user {
  grid-area: User;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px double rgb(228, 224, 224);;
}

a {
  text-decoration: none;
  color:black;
}

a:visited {
  color: black;
}

.quicklinks {
  border: 2px solid orange;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(228, 224, 224);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  height: 100%;
  background-color: rgb(252, 252, 205);
  animation-name: slide;
  animation-duration: 0.75s;
}

.home-links {
  border: 1px solid orange;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 45px;
  padding-left: 45px;
}

.top {
  position: sticky;
  width: 100%;
  top : 0;
  background-color: white;
}

#home-intro {
  height: auto;
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  transition: background-color 0.4s linear;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
}

#home-intro:hover{
  background-color: white;
  transition: 0.3s;
}

#home-topics {
  height: auto;
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
}

#home-intro:hover{
  background-color: white;
  opacity: 0.6;
}

#home-articles {
  height: auto;
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
}

#home-users {
  height: auto;
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
}

.articles-page {
  display:grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 8fr;
  grid-template-areas:
  "topic-filter"
  "add-article"
  "articles-title"
  "articles";
  height: 100%;
  background-color: rgb(252, 252, 205);
  animation-name: slide;
  animation-duration: 0.75s;
}

.articles {
  grid-area: articles;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  overflow:scroll;
  padding-bottom: 20px;
  padding-top:20px;
  
}

.article-card {
  background-color: midnightblue;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
}

.articles-title {
  grid-area: articles-title
}

.topic-filter {
  grid-area: topic-filter;
  display: inline-block;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.order-sort-reset {
  grid-area: order-sort-reset;
}

.add-article {
  grid-area: add-article;
}

.single-article-page {
  display:grid;
    grid-template-rows: 0.75fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-areas:
    ". back-to-articles ."
    ". single-article ."
    ". rate-it ."
    ". pop-up ."
    ". article-comments .";
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
  animation-duration: 0.75s;
}

.pop-up{
  grid-area: pop-up;
  display: block;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  animation-name: slide;
  animation-duration: 1.5s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}


.single-article {
  grid-area: single-article;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 20px;
  background-color: midnightblue;
  padding: 20px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
}

.article-comments {
  grid-area: article-comments;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rate-it {
  grid-area: rate-it;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rated-it {
  grid-area: rate-it;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rated-it button {
  height: 50%;
  padding: 5px;
}

.rate-it button {
  height: 50%;
  background-color: midnightblue;
  padding: 5px;
}

.back-to-articles{
  grid-area: back-to-articles;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.article-comments-page {
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 3.5fr 3.5fr 0.5fr;
  grid-template-areas:
  ". back-to-article ." 
  ". article-title ."
  ". single-article-comments ."
  ". article-add-comment ."
  ". single-article-user-response .";
  height: 100%;
  background-color: rgb(252, 252, 205);
  animation-name: slide;
  animation-duration: 0.75s;
}

.back-to-article {
  grid-area: back-to-article;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-title {
  grid-area: article-title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-article-comments {
  grid-area: single-article-comments;
  overflow: scroll;
  padding: 10px;
}

.article-comment {
  padding: 10px;
  background-color: midnightblue;
  margin-bottom: 10px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
}

.article-add-comment {
  grid-area: article-add-comment;
  overflow: scroll;
  padding: 10px;
  margin-top: 10px;
}

textarea {
  width: 80%;
}

.single-article-user-response{
  grid-area: single-article-user-response;
}

.topics-page {
  display:grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-areas: 
  ". topics-title ."
  ". topics-list .";
  height: 100%;
  background-color: rgb(252, 252, 205);
}

.topics-title {
  grid-area: topics-title;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: slide;
  animation-duration: 0.75s;
  
}

.topics-list {
  grid-area: topics-list;
  overflow: scroll;
  
}

button:hover {
  background-color: orange;
}

ul{
  list-style:none;
}

.single-topic {
  padding: 50px;
  background-color: midnightblue;
  margin-bottom: 20px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
  color: white;
  animation-name: slide;
  animation-duration: 0.75s;
}

.single-topic:hover {
  background-color: white;
}

h4 {
  color: white;
  font-size: 1.25rem
}

.topic-articles-page {
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 4fr 1fr;
  grid-template-areas:
  ". topic-articles-title ."
  ". back-to-topics ."
  ". topic-articles-list ."
  ". topic-article-share .";
  height: 100%;
}

.back-to-topics {
  grid-area: back-to-topics;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-articles-title {
  grid-area: topic-articles-title;
  margin-top: 10px;
  text-decoration: underline;
}

.topic-articles-list {
  grid-area: topic-articles-list;
  overflow: scroll;
  border: 1px solid red;
}

.single-topic-article {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid orange;
}

.topic-article-share {
  grid-area: topic-article-share;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-page{
  display: grid;
  grid-template-rows: 1.5fr 8fr;
  grid-template-areas: 
  "current-user"
  "users-list";
  height: 100%;
  background-color: rgb(252, 252, 205);
}

.current-user {
  grid-area: current-user;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: midnightblue;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
  
}

.users-list {
  grid-area: users-list;
  overflow:scroll;
  
}

.single-user {
  margin: 20px;
  border: 1px solid orange;
  padding: 10px;
  background-color: midnightblue;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
}

.user-avatar {
  width:auto;
  max-height: 50px;
}

.current-user-avatar {
  max-height: 50px;
}

.current-user-username {
  margin-right:20px;
}

.not-found-page {
  display: grid;
  grid-template-columns: 0.25fr 9fr 0.25fr;
  grid-template-rows: 2fr 2.75fr 2.75fr 2.75fr 0.75fr; 
  grid-template-areas: 
  ". not-found-message ."
  ". not-found-articles ."
  ". not-found-topics ."
  ". not-found-users ."
  ". not-found-code .";
  height: 100%;
}

.not-found-message {
  grid-area: not-found-message;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}

.not-found-articles {
  grid-area: not-found-articles;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.not-found-topics {
  grid-area: not-found-topics;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.not-found-users {
  grid-area: not-found-users;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.not-found-code {
  grid-area: not-found-code;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}












@media screen and (min-width: 600px){

  h4 {
    color: white;
  }

  h2 {
    color:midnightblue;
  }
  
  h3 {
    color: gold;
  }
  
  button {
    background-color: midnightblue;
    color: white;
    padding: 7px;
    border-radius: 25px 25px 0px 25px;
    border: 2px solid orange;
  }

  button:hover {
    background-color: orange;
    border: 2px solid midnightblue;
    transition: background-color 0.25s;
  }
  
  .text {
    color: white;
  }
  
  .text-blue {
    color: midnightblue;
  }
  .heading {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
    "Title User";
    border: 1px solid black;
    height: 75px;
  }
  
  .title {
    grid-area: Title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .user {
    grid-area: User;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px double rgb(228, 224, 224);
  }

  .user:hover {
    background-color: rgb(252, 252, 205);
    transition: background-color 1s;
  }
  
  a {
    text-decoration: none;
    color:black;
  }
  
  a:visited {
    color: black;
  }
  
  .quicklinks {
    border: 2px solid orange;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(228, 224, 224);
  }
  
  .home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: scroll;
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
    animation-duration: 0.75s;
  }
  
  .home-links {
    border: 1px solid orange;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
  }
  
  .top {
    position: sticky;
    width: 100%;
    top : 0;
    background-color: white;
  }
  
  #home-intro {
    height: auto;
  margin-left:80px;
  margin-right:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  transition: background-color 0.4s linear;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
  }
  
  #home-topics {
    height: auto;
  margin-left:80px;
  margin-right:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  transition: background-color 0.4s linear;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
  }

  #home-topics:hover {
    background-color: orange;
    border: 2px solid midnightblue;
  }
  
  #home-articles {
    height: auto;
  margin-left:80px;
  margin-right:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  transition: background-color 0.4s linear;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
  }

  #home-articles:hover {
    background-color: orange;
    border: 2px solid midnightblue;
  }
  
  #home-users {
    height: auto;
  margin-left:80px;
  margin-right:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
  margin-top: 0;
  transition: background-color 0.4s linear;
  color: white;
  border-radius: 25px 25px 0px 25px;
  font-size: 1.25rem;
  border: 2px solid orange;
  }

  #home-users:hover {
    background-color: orange;
    border: 2px solid midnightblue;
  }

  .articles-page {
    display:grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 5fr 4fr;
    grid-template-areas:
    ". articles-title"
    "topic-filter articles"
    "add-article articles";
    height: 100%;
    background-color: rgb(252, 252, 205);
  animation-name: slide;
  animation-duration: 0.75s;
  }

  .article-card {
    background-color: midnightblue;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid orange;
  }

  .article-card:hover{
    background-color: orange;
    border:2px solid midnightblue;
    color:midnightblue;
    transition: background-color 0.5s;
  }

  /* .single-article {
    background-color: midnightblue;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid orange;
  } */

  .single-article:hover {
    background-color: orange;
    border:2px solid midnightblue;
    color:midnightblue;
    transition: background-color 0.5s;
  }
  .articles {
    grid-area: articles;
    overflow: scroll;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(245, 245, 191);
    border-radius: 25px 25px 0px 25px;
  }

  .topic-filter {
    grid-area: topic-filter;
  }

  .order-sort-reset {
    grid-area: order-sort-reset;
  }

  .add-article {
    grid-area: add-article
  }

  .articles-title {
    grid-area: articles-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: midnightblue;
    text-decoration-thickness: px;
  text-underline-offset: 5px;
  }

  .single-article-page {
    display:grid;
    grid-template-rows: 0.75fr 4fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    ". back-to-articles ."
    ". single-article ."
    ". rate-it ."
    ". pop-up ."
    ". article-comments .";
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
    animation-duration: 0.75s;
  }

  .single-article {
    grid-area: single-article;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 25px;
    overflow: scroll;
    background-color: midnightblue;
    padding: 20px;
    border-radius: 25px 25px 0px 25px;
    border: 1px solid orange;
  }

  .article-comments {
    grid-area: article-comments;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rate-it {
    grid-area: rate-it;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .rate-it button {
      height: 50%;
      padding: 5px;
  }

  

  .rated-it {
    grid-area: rate-it;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .rated-it button {
    height: 50%;
    padding: 5px;
  }

  .pop-up{
    grid-area: pop-up;
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
    animation-name: slide;
    animation-duration: 1.5s;;
  }

  @keyframes slide {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  .back-to-articles{
    grid-area: back-to-articles;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .article-comments-page {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 1.5fr 2.5fr 2fr 2fr 1fr;
    grid-template-areas: 
    ". back-to-article back-to-article ."
    ". article-title article-title ."
    ". single-article-comments single-article-user-response ."
    ". single-article-comments article-add-comment ."
    ". single-article-comments article-add-comment ."
    ". single-article-comments . ."
    ". . . .";
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
    animation-duration: 0.75s;
  }

  .back-to-article{
    grid-area: back-to-article;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .single-article-user-response{
    grid-area: single-article-user-response;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  .article-title {
    grid-area: article-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .single-article-comments {
    grid-area: single-article-comments;
    overflow: scroll;
    padding: 2px;
    background-color: rgb(245, 245, 191);
    border-radius: 25px 25px 0px 25px;
  }

  .article-comment {
    padding: 10px;
    padding-bottom: 10px;
    background-color: midnightblue;
    margin: 10px;
    border-radius: 25px 25px 0px 25px;
    border: 2px solid orange;
  }
  
  .article-add-comment {
    grid-area: article-add-comment;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  textarea {
    width: 75%;
    height: 70%;
  }

  .topics-page {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    ". topics-title ."
    ". topics-list ."
    ". . .";
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
    animation-duration: 0.75s;
  }

  .topics-title {
    grid-area: topics-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: midnightblue;
    text-decoration-thickness: px;
    text-underline-offset: 5px;
  }

  ul{
    list-style:none;
  }

  .topic-coding{
    grid-area: topic-coding;
  }

  .topics-list {
    grid-area: topics-list;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 10px;
  }

  .single-topic {
    padding: 50px;
    background-color: midnightblue;
    margin: 10px;
    border-radius: 25px 25px 0px 25px;
    border: 2px solid orange;
  }

  .single-topic:hover {
    background-color: orange;
    color: midnightblue;
    border: 2px solid midnightblue;
    transition: background-color 0.75s;
  }

  .topic-articles-page {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 4fr 1fr;
    grid-template-areas:
    ". topic-articles-title ."
    ". back-to-topics ."
    ". topic-articles-list ."
    ". topic-article-share .";
    height: 100%;
  }

  .back-to-topics {
    grid-area: back-to-topics;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .topic-articles-title {
    grid-area: topic-articles-title;
    margin-top: 10px;
    text-decoration: underline;
  }
  
  .topic-articles-list {
    grid-area: topic-articles-list;
    overflow: scroll;
    border: 1px solid red;
  }
  
  .single-topic-article {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid orange;
  }

  .topic-article-share {
    grid-area: topic-article-share;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .users-page{
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
    "current-user"
    "users-list";
    height: 100%;
    background-color: rgb(252, 252, 205);
    animation-name: slide;
    animation-duration: 0.75s;
  }
  
  .current-user {
    grid-area: current-user;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: midnightblue;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
  }
  
  .users-list {
    grid-area: users-list;
    overflow: scroll;
  }

  .single-user {
    margin: 40px;
  border: 1px solid orange;
  padding: 10px;
  background-color: midnightblue;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid orange;
  }
  
  .user-avatar {
    width:auto;
    max-height: 50px;
  }
  
  .current-user-avatar {
    max-height: 50px;
  }
  
  .current-user-username {
    margin-right:20px;
  }

  .not-found-page {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-template-rows: 2fr 3fr 3fr 2fr; 
    grid-template-areas: 
    ". not-found-message not-found-message ."
    ". not-found-articles not-found-topics ."
    ". not-found-users not-found-users ."
    ". not-found-code not-found-code .";
    height: 100%;
  }

  .not-found-message {
    grid-area: not-found-message;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
  }

  .not-found-articles {
    grid-area: not-found-articles;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }

  .not-found-topics {
    grid-area: not-found-topics;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
  }

  .not-found-users {
    grid-area: not-found-users;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
  }

  .not-found-code {
    grid-area: not-found-code;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}




